@{
    ViewData["Title"] = "Admin Page";
    // Layout = "~/Views/Shared/_Layout.cshtml"; // Замените на фактический путь к вашему макету
}

<h2>Welcome, Admin!</h2>

<div>
    <p>This is the admin dashboard. You have access to special features and controls here.</p>
    <!-- Добавьте здесь другие элементы и функциональность для администратора -->
</div>