@model WebApplication3.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<!-- Форма входа -->
<form asp-action="LoginPost" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Login</button>
</form>

<a asp-controller="Account" asp-action="Register">Register</a>
