@model List<WebApplication3.Models.MaintenanceTask>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Is Completed</th>
        <th>Vehicle</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Description</td>
            <td>@task.IsCompleted</td>
            <td>@task.Vehicle.Make @task.Vehicle.Model</td>
        </tr>
    }
    </tbody>
</table>