@{
    ViewData["Title"] = "User Page";
    // Layout = "~/Views/Shared/_Layout.cshtml"; // Закомментировали или удалили строку с Layout
}

<h2>Welcome, User!</h2>

<div>
    <p>This is your user dashboard. You can view and manage your account information here.</p>
    <a asp-controller="Maintenance" asp-action="Create">Create Maintenance Request</a>
    <a asp-controller="Maintenance" asp-action="RequestsList">View Maintenance Requests</a>
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>

    <!-- Добавьте здесь другие элементы и функциональность для пользователя -->
</div>