@model WebApplication3.Models.Vehicle

<h1>Vehicle Details</h1>

<div>
    <h4>Model: @Model.Model</h4>
    <h4>Registration Number: @Model.RegistrationNumber</h4>
    <!-- Добавьте другие свойства транспортного средства, если они есть -->
</div>